.container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 40px;
  }

  .logo {
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    color: #3b61df;
  }
  
  .links {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .links a {
   text-decoration: none;
  }
  
  .link {
    color: #3b61df;
  }
  .logout {
    padding: 5px;
    border: none;
    background-color: #53c28b;
    color: white;
    cursor: pointer;
    border-radius: 3px;
  }